button {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.005em;
    text-transform: uppercase;
    color: #FFFFFF; 
    background: #40B25C; 
    border: none; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    width: 240px;
    height: 48px;
    border-radius: 5px;
}

button:hover {
    background: #1C6C3E;
}

.--active {
    background: #A3F9B9;
    color: #1C1C1C;
}

.--active:hover {
    background: #40B25C; 
    color: #fff;
}
