.wishlist {
    cursor: pointer;
    position: absolute;
    width: 48px;
    height: 48px;
    left: 192px;
    border-radius: 50%;
    border: none;
    background: #F2F3F6;
}

.wishlist:hover {
    background: #FEE5EC;
    color: #DA4B4F;
}

.active2 {
    background: #DA4B4F;
    color: #fff;
}

.active2:hover {
    background: #C22539; 
    color: #fff;
}

.heart {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 29%;
    bottom: 25%;
    font-size: 25px;
}

.active3 {
    color: #fff;
}
