@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  
  width: 100%;

  background: #E5E5E5;
}

section {
  display: flex;
  flex-wrap: wrap;
  
  margin: 32px;
}
